:root {
    --bg-color: #FFFFFF;
    --heading-color: #153243;
    --accent-color: #F4F9E9;
    --font-color: black;
    --font-family: "DM Serif Text", serif;
    --card-font-family: "Anton", sans-serif;
    --h1-font-family: "Special Gothic Expanded One", sans-serif;
    --accent-color-2: #B4B8AB;
    --accent-color-3: #EEF0EB;
    --accent-color-4: #284B63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--heading-color);
}

.logo a {
    text-decoration: none;
    color: inherit;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 10px 15px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: var(--h1-font-family);
    font-weight: bold;
}

.header-content {
    display: flex;
    flex-direction: row;
    background-color: var(--heading-color);
    height: 100px;
    justify-content: space-between;
    font-family: var(--font-family);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo a:hover {
    color: var(--accent-color-2);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 50px;
    width: 500px;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

.nav-links a:hover {
    color: var(--accent-color-2);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

main {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100%;
    gap: 5rem;
    background-color: var(--bg-color);
}

#grid-header-1 {
    display: flex;
    justify-content: center;
}

#example-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card-wrapper {
    perspective: 1000px;
    width: 15rem;
    height: 20rem;
}
  
.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
  
.card-wrapper:hover .card {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front, .back {
    width: 100%;
    height: 100%;
}
  
.front {
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    font-family: var(--card-font-family);
    width: 15rem;
    height: 20rem;
}

.back {
    background-color: var(--accent-color);
    transform: rotateY(180deg);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    font-family: var(--card-font-family);
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#player-name-container {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    max-height: 5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    font-size: 1.3rem;
    margin: 0;
}

#player-name {
    font-size: 2rem;
    margin: 0;
}

#player-team {
    margin: 0;
    font-size: 1rem;
}
  
#player-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.example-gradient {
    /* linear-gradient(to top right, ${color1}, ${color2})` */
    background: linear-gradient(to top right, #a40227, #ffffff);
}

#player-image {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}

#player-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5rem;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
}
  
#player-position {
    flex: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 1.2rem;
}
  

#grid-header-2 {
    display: flex;
    justify-content: space-around;
}

.info-section-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--heading-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
}

.info-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 85%;
    height: 80%;
    padding: 2rem 10rem 2rem 10rem;
    gap: 2rem;
}

.card-info-1,
.card-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 15rem;
    height: 20rem;
}

.card-front-example,
.card-back-example {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-section-1,
#info-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

.back-example {
    background-image: url(../images/az-cardinals-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 2rem;
}

#back-inner {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.footer {
    background-color: var(--heading-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: 0.9rem;
}
  
.button {
    height: 2rem;
    width: auto;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    border: none;
    width: 40%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

#random-player-btn {
    height: 2rem;
    width: auto;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border: none;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#random-player-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
}

/* card grid styles */
.cardgrid-body {
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
}

.background-color-wrapper {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cardgrid-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cardgrid-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
    width: 95%;
    transform: translateX(2.5%);
    height: fit-content;
    border: 3px solid black;
    border-radius: 1rem;
}

#cardgrid-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: 5rem; */
    padding: 1rem;
}

.search-bar {
    height: 2rem;
    border-radius: 1rem;
    width: 38%;
    padding: 0.4rem;
}

.search-bar:focus {
    outline: none;
    border: 2px solid var(--heading-color);
}

.cardgrid-button {
    height: 2rem;
    width: auto;
    border-radius: 1rem;
    background-color: var(--heading-color);
    color: white;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.cardgrid-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
}

#card-grid {
    display: grid;
    border: 2px solid var(--heading-color);
    margin: 1rem;
    padding: 3rem;
    gap: 2rem;
    height: 95%;
    width: auto;
    border-radius: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: repeat(5, minmax(0, 1fr));
}

#card-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: auto;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 3rem;
    border: 2px solid var(--heading-color);;
    gap: 4px;
}

.list-container {
    border-radius: 0.25rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    width: 100%;
    font-size: 0.85rem;
}
.first-list-container {
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

/* Media Queries for Responsivity */
@media (max-width: 530px) {
    .info-section {
        padding: 2rem 2rem 2rem 2rem;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 577px) {
    header {
        position: relative;
    }

    .header-content {
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .logo {
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #grid-header-2 {
        text-align: center;
    }

    #card-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 707px) {
    #card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 0;
        padding-top: 1rem;
    }
}

@media (max-width: 768px) {
    .info-section {
        width: 100%;
        height: 100%;
        padding: 2rem 8rem 2rem 8rem;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    }

    #cardgrid-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .search-bar {
        width: 80%;
    }
}

@media (max-width: 1280px) {
    #search-button {
        font-size: 0.8rem;
    }
}

@media (min-width: 1281px) {
    .info-section {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media (prefers-color-scheme: dark) {
    .hero-section {
        background-color: var(--heading-color);
        color: white;

    }
    main {
        background-color: var(--heading-color);
    }
    .background-color-wrapper {
        background-color: var(--heading-color);
        color: white;
    }
    .card {
        color: black;
    }
    #search-button {
        background-color: var(--accent-color-4);
    }
    .list-container {
        background-color: var(--accent-color-4);
    }
}