:root {
    --bg-color: #FFFFFF;
    --heading-color: #153243;
    --accent-color: #F4F9E9;
    --font-color: black;
}

body {
    display: grid;
}

.grid-container {
    display: flex;
}
#grid-header {
    display: flex;
    justify-content: space-around;
}
#grid {
    display: grid;
}
